html, body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Inconsolana;
  src: url(./src/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #f7f7f7;
  background-color: #181818;
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Inconsolana";
  font-size: 3.5em;
}

.amount {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.amount > div {
  width: 24px;
  height: 24px;
  background-color: #f7f7f7;
  border: black 3px solid;
  border-radius: 24px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions > button {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 33px;
  padding: 0;
  display: flex;
  justify-content: center;
}
